# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env/
.env*/ 
.venv*/

# Jupyter notebooks caches
.ipynb_checkpoints/

# VS Code settings
.vscode/
.code-workspace

# Build / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/
*.tmp

# Python compiled files
*.pickle
*.pkl

# SHAP cached files
shap_cache/

# Ignore the data put a placeholder
Data/*
Results/*
!Data/.gitkeep


C:\Users\giusy\OneDrive\Desktop\AI_Healtcare\IMU-compensatory-movement-detection\LOSO_SHAP_best.py